/*css reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utility*/

.btn {
    background-color: rgb(36, 122, 255);
    color: white;
    padding: 5px 10px;
}

.btn:hover {
    background-color: skyblue;
}

a {
    text-decoration: none;
    margin: 10px;
    color: black;
}

body {
    background-color: bisque;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

/*header*/

.bottom-black-border:hover {
    padding-bottom: 24px;
    border-bottom: 2px solid black;
}

header {
    padding: 20px 20px;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*main*/

section h1{
    font-size: 67px;
    font-weight: 900;
}

section.jumbotron {
    background-color: rgb(180, 208, 230);
    padding: 100px 200px;
}

.jumbotron-section {
    display: flex;
}

.jumbo-left-item {
    width: calc(100%/3 - 10px / 2);
}

.jumbo-right-item {
    width: calc(100%/3 - 10px / 2);
}

