/*css reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utility*/

body {
    background-color: bisque;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "wdth" 100;        
}