/*css reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utility*/

ul,
li {
    list-style-type: none;
}

.btn {
    background-color: rgb(36, 122, 255);
    color: white;
    padding: 5px 10px;
}

.btn:hover {
    background-color: skyblue;
}

header a {
    text-decoration: none;
    margin: 10px;
    color: black;
}

body {
    background-color: bisque;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

/*header*/

.bottom-black-border:hover {
    padding-bottom: 24px;
    border-bottom: 2px solid black;
}

header {
    padding: 20px 20px;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*main*/

/*jumbotron section*/

section h1 {
    font-size: 67px;
    font-weight: 900;
}

section.jumbotron {
    background-color: rgb(180, 208, 230);
    padding: 100px 200px;
}

section.jumbotron a {
    text-decoration: none;
}

.jumbotron-section {
    display: flex;
}

.jumbo-left-item {
    width: 45%
}

/*.jumbo-right-item {
    height: 100px;
    width: 100px;
    background-color: blueviolet;

}*/

/*partner section*/

.btn-partner {
    border: solid 1px black;
    text-decoration: none;
    padding: 5px 10px;
}

.margin-partner {
    margin: 20px 0;
}

section .right-partner {
    width: 40%;
}

section.partnership img {
    width: 60%;
}

section.partnership {
    padding: 50px 250px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

/*operation boxes*/

h2.h2-paddin-size {
    padding: 50px 250px;
    font-size: 40px;
}

section img {
    width: 100%;
}

section.card-container {
    padding: 50px 250px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    /*height: 200px;*/
    width: calc((100%/3) - (40px/3));
    background-color: violet;
}

/*business section*/


section.business {
    padding: 50px 250px
}
section.business h2 {
    font-size: 45px;
    padding-bottom: 40px;
}

section.business a {
    padding: 50px 0;
}

/*footer*/

.border-footer{
    border-bottom: solid white 1px;
    padding-bottom: 50px;
}

footer h3 {
    margin-bottom: 30px;
}

footer li {
    margin-bottom: 15px;
    font-size: 12px;
}

footer {
    background-color: black;
    color: white;
    padding: 40px 200px;
    margin-top: 100px;
}

.list-section {
    display: flex;
    justify-content: space-between;
}

h5 {
    padding: 30px 0;
    color: lightgray;
    font-weight: 100;
    font-size: 10px;
}