/*css reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utility*/

ul,
li {
    list-style-type: none;
}

.btn {
    background-color: rgb(36, 122, 255);
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}

.btn:hover {
    background-color: skyblue;
}

header a {
    text-decoration: none;
    margin: 10px;
    color: black;
}

body {
    /*background-color: bisque;*/
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

/*header*/

.bottom-black-border:hover {
    padding-bottom: 28px;
    border-bottom: 2px solid black;
}

header {
    padding: 20px 20px;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*main*/

/*jumbotron section*/

.margin-jumbo {
    margin: 30px 0;
}

section h1 {
    font-size: 67px;
    font-weight: 900;
}

section.jumbotron {

    background-color: rgb(180, 208, 230);
    padding: 100px 200px;
}

section.jumbotron a {
    text-decoration: none;
}

.jumbotron-section {
    margin-top: 50px;
    display: flex;
}

.jumbo-left-item {
    width: 45%
}

/*.jumbo-right-item {
    height: 100px;
    width: 100px;
    background-color: blueviolet;

}*/

/*plans section*/

.big-card {
    margin: 30px 0;
}

section .format-card {
    margin: 20px 15px;
}

.big-car-item-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.right-big-card-item {
    flex-basis: 250px;
}

.label-box {
    text-align: center;
    padding: 10px 0;
}

.border-gery {
    border: solid 1px lightgray;
}

.border-gery-bottom {
    border-bottom: solid 1px lightgray;
}

section.plans {
    padding: 50px 250px;
    /*background-color: aqua;*/
}

.plans-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.plans-card {
    /*height: 200px;*/
    width: calc((100%/3) - (40px/3));
    /*background-color: violet;*/
}


/*partner section*/

.btn-partner {
    border: solid 1px black;
    text-decoration: none;
    padding: 5px 10px;
}

.margin-partner {
    margin: 20px
}

section .right-partner {
    width: 40%;
}

section.partnership img {
    width: 60%;
}

section.partnership {
    padding: 50px 250px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

/*operation boxes*/

h2.h2-paddin-size {
    padding: 50px 250px;
    font-size: 40px;
}

section img {
    width: 100%;
}

section.card-container {
    padding: 50px 250px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    /*height: 200px;*/
    width: calc((100%/3) - (40px/3));
    /*background-color: violet;*/
}

/*business section*/


section.business {
    padding: 50px 250px
}

section.business h2 {
    font-size: 45px;
    padding-bottom: 40px;
}

section.business a {
    padding: 50px 0;
}

/*footer*/

.border-footer {
    border-bottom: solid white 1px;
    padding-bottom: 50px;
}

footer h3 {
    margin-bottom: 30px;
}

footer li {
    margin-bottom: 15px;
    font-size: 12px;
}

footer {
    background-color: black;
    color: white;
    padding: 40px 200px;
    margin-top: 100px;
}

.list-section {
    display: flex;
    justify-content: space-between;
}

h5 {
    padding: 30px 0;
    color: lightgray;
    font-weight: 100;
    font-size: 10px;
}
















/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}